@font-face {
    font-family: "Atlas Grotesk";
    src:url("../font/Atlas Grotesk Web Regular Regular.ttf");
}
@font-face {
    font-family: "Sharp Grotesk Book 25";
    src:url("../font/Sharp Grotesk Book 25 Regular.ttf");
}

body{
    margin:0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    height:48px;
}
nav{
    height:48px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    width: 99vw;
    z-index: 999;
}
.left-nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.left-nav a{
    display: flex;
}
.logo-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}
.logo-word{
    padding: 16px;
    margin-top: 4px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li{
    list-style-type: none;
    padding:15px 16px;
    font-family: "Atlas Grotesk";

}
nav ul li{
    color:rgb(30, 25, 25);
    cursor: pointer;
}
nav ul li:hover{
    background-color: #f2eee8;
}
.right-nav{
    position: relative;
    right: 0;
    display: flex;
}
.right-nav a{
    display: flex;
}
.primary-btn{
    background-color: #0061fe;
    color:#fff;
    font-weight: bold;
    border:3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1{
    display: flex;
}
.section1-left{
    box-sizing: border-box;
    width:50vw;
}
.section1-left>div:first-child{
    background-color: rgb(247, 245, 242);
    padding:24px;
    height: 430px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.section1-left>div>h1{
    font-family: "Sharp Grotesk Book 25", "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
    letter-spacing: -1;
    line-height: 52.8px;
}
.section1-left>div>a{
    font-family: "AtlasGrotesk", "Open Sans", sans-serif;
    background-color:rgb(0, 97, 255);
    color:rgb(255, 255, 255);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding:8px 20px;
    box-sizing: border-box;
    line-height: 20px;
    text-align: center;
}
.section1-left-feature{
    background-color: #d9d4cc;
    box-sizing: border-box;
    padding: 72px 72px;

}
.section1-left-feature p{
    font-size: 20px;
    text-align: center;
    font-family: "AtlasGrotesk", "Open Sans", sans-serif;
}
.section1-right{
    width:50vw;
}
.section1-right-img1{
    height: 240px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    align-items: center;
}
.section1-right-img1 img{
    position: absolute;
}
.section1-right-img2{
    height: 490px;
}
.section2{
    background-color: #f7f5f2;
    box-sizing: border-box;
    padding:48px 0px;
    display: flex;
    justify-content: center;
}
.section2-wrapper{
    display: flex;
    width: 1000px;
    justify-content: space-between;
}
.features-card{
    width:225px;
    font-family: "AtlasGrotesk", "Open Sans", sans-serif;
}
.features-card-img{
    margin-bottom: 32px;
}
.features-card h2{
    font-size: 16px;
    margin:0 0 12px;
}
.features-card p{
    font-size: 16px;
    margin:0;
    font-weight: 400;
    line-height: 20px;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 0;
}
.section3-heading{
    text-align: center;
    width:620px;
   font-weight: 500;
}
.section3-heading h2{
    font-family: "Sharp Grotesk Book 25", "Open Sans", sans-serif;
    font-size: 40px;
}
.section3-para{
    color:#1e1919;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
}
.section4{
    display: flex;
}
.section4-left{
    width:50vw;
    box-sizing: border-box;
    
}
.section4-inner-box{
    padding: 0 12px 0 24px;
}
.section-inner-box-wrapper{
    border-top: 1px solid black;
}
.section-inner-box-wrapper-last{
    border-bottom: 1px solid black;
}
.section4-inner-box:hover{
    background-color: rgba(166,145,113,0.12);
}
.section4-inner-box-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px 0;
}
.section4-inner-box-heading h4{
    font-family: "Sharp Grotesk Book 25", "Open Sans", sans-serif;
    font-size: 24px;
    font-stretch: 100%;
    font-weight: bold;   
    color: #1e1919; 
    cursor:default;
}
.section4-inner-box-para{
    box-sizing: border-box;
}
.section4-inner-box-para p{
    margin: 0;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
    font-size: 16px;
    padding-right: 76px;
    line-height: 26px;
}
.section4-inner-box-para span{
    padding:8px 20px;
    border:1px solid rgb(30, 25, 25);
    margin:24px 0px 32px;
    display: inline-block;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
}
.section4-inner-box-para a{
    color:#000;
}
.hidden{
    display: none;
}
.section4-right{
    background-color: #14c8eb;
}
.section4-right-wrapper{
    width:90%;
    transform: translate(-50%,-50%);
    position: relative;
    top:50%;
    left:50%;
}
.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 0;
    background-color: #faf9f7;
}
.section6{
    background-color: #faf9f7;
    padding-bottom: 72px;
}
.section6-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.section6-card{
    width:495px;
    display: flex;
    flex-direction: column;

}
.card-img{
    display: flex;
}
.card-img-wrapper{
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-desc{
    box-sizing: border-box;
    padding:24px;
    border-left:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}
.card-desc h3{
    font-size: 32px;
    font-family: "Sharp Grotesk Book 25", "Open Sans", sans-serif;

}
.card-desc p{
    font-size: 16px;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
    color:#524a3ebf;
}
.card-desc a{
    background-color: #0061ff;
    color:#fff;
    width:445px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px 50px;
    box-sizing: border-box;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
}
.section7{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 72px 0;
    background-color: #fff;
}
.section7-heading{
    text-align: center;
    width:700px;
   font-weight: 500;
}
.section7-heading a{
    color:rgb(30, 25, 25);
    margin-top: 32px;
    display: inline-block;
    line-height: 24px;
    font-weight: bold;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
    border-bottom: 1px solid rgba(166, 158, 146, 0.6);
}
.section7-heading a:hover{
    border:0;
}
.section8{
    padding:0px 135px;
}
.section8-wrapper{
    display: flex;
    justify-content: space-between;
}
.section8-card{
    width: 225px;
}
.section8-card-img{
    margin-bottom: 32px;
}
.section8-card-desc{
    color:rgba(82, 74, 62, 0.75);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
    padding:0 0 48px 0;
}
.section9-heading a{
    color:rgb(30, 25, 25);
    margin-top: 32px;
    display: inline-block;
    line-height: 24px;
    font-weight: bold;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
    border-bottom: 1px solid rgba(166, 158, 146, 0.6);
}
.section10{
    display: flex;
    
}
.section10-left,.section10-right{
    width:50vw;
    height: 720px;
}
.section10-left{
    position: relative;
    overflow: hidden;
}
.section10-left img{
    position: absolute;
    left:-300px;
}
.section10-right{
    display: flex;
    overflow: hidden;
}
.section10-right-left{
    background-color: #9b0032;
    width:450px;
    height: 720px;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote:before{
    content: "“";
}
.quote:after{
    content: "”";
}
.section10-right-left p{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color:#fff;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;

}
.quoteAuthor{
    font-weight: bold;
}
.section10-right-right{
    position: relative;
}
.section10-right-right div{
    position: absolute;
    width:300px;
    overflow: hidden;
}
.section11{
    background-color: #322e2b;
    padding:120px 0px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section11-wrapper{
    width:1080px;
    display: flex;
    justify-content: space-between;
}
.section11-wrapper div{
    width:735px;
}
.section11-wrapper div h2{
    font-size: 40px;
    font-weight: 500;
    font-family: "Sharp Grotesk Book 25", "Open Sans", sans-serif;
}
.section11-wrapper a{
    background-color: #fff;
    color:#000;
    padding:8px 20px;
    border:1px solid #000;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
    display: inline-block;
}
footer{
        padding:0 45px;
        background-color: #000;
        color:#fff;
}
.footer-wrapper ul{
    list-style-type: none;
}
.footer-wrapper a{
    color:#fff;
    padding: 6px 0;
    display: inline-block;
}
.footer-wrapper a:hover{
    text-decoration: underline;
}
.footer-wrapper>ul{
    display: flex;
    width:1080px;
    justify-content: space-between;
    margin: 0 90px;
    padding:160px 0 120px;    
}
.footer-wrapper>ul>li>div{
    font-family: "Sharp Grotesk Book 25", "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.footer-wrapper>ul>li>ul{
    margin-top:14px;
}
.footer-wrapper>ul>li>ul>li{
    margin-top:6px;
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
    font-size: 14px;
}
.sub-footer{
    padding-bottom: 50px;
}
.sub-footer-wrapper{
    margin-left: 90px;
    
}
.subfooter-line{
    width:120px;
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
}
.lang{
    cursor: pointer;
}
.lang-content{
    color:rgba(82, 74, 62, 0.82);
    font-family: "Atlas Grotesk", "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.lang-arrow{
    color:rgba(82, 74, 62, 0.82);
    
}